model_list:
  - model_name: gpt-4o-mini
    litellm_params:
      model: openai/gpt-4o-mini
      api_key: os.environ/OPENAI_API_KEY
  - model_name: gpt-4o-mini-transcribe
    litellm_params:
      model: openai/gpt-4o-mini-transcribe
      api_key: os.environ/OPENAI_API_KEY
  - model_name: whisper-1
    litellm_params:
      model: openai/whisper-1
      api_key: os.environ/OPENAI_API_KEY 
  - model_name: gpt-4o-audio-preview # OpenAI gpt-4o-audio-preview
    litellm_params:
      model: openai/gpt-4o-audio-preview
      api_key: os.environ/OPENAI_API_KEY 
  - model_name: Meta-Llama-3.2-3B-Instruct
    litellm_params:
      model: sambanova/Meta-Llama-3.2-3B-Instruct
      api_key: os.environ/SAMBANOVA_API_KEY
  - model_name: Llama-4-Maverick-17B-128E-Instruct
    litellm_params:
      model: sambanova/Llama-4-Maverick-17B-128E-Instruct
      api_key: os.environ/SAMBANOVA_API_KEY
    model_info:
      supports_vision: True        # set supports_vision to True so /model/info returns this attribute as True
  - model_name: Whisper-Large-v3
    litellm_params:
      model: sambanova/Whisper-Large-v3
      api_key: os.environ/SAMBANOVA_API_KEY
    model_info:
      supports_audio_input: True        # set supports_audio_input to True so /model/info returns this attribute as True
  - model_name: gemini-2.0-flash
    litellm_params:
      model: gemini/gemini-2.0-flash-exp
      api_key: os.environ/GEMINI_API_KEY

# ログ設定
log_config:
  request_log_path: ./logs
  log_level: debug
  log_requests: true
  log_responses: true
  verbose: true

# リクエスト/レスポンスのトラッキング設定
callbacks:
  - callback_type: local_log
    options:
      request_log_path: ./logs
